<p style="color: green"><%= notice %></p>

<%= render @student_account %>

<div>
  <%= link_to "Edit this student account", edit_student_account_path(@student_account) %> |
  <%= link_to "Back to student accounts", student_accounts_path %>

  <%= button_to "Destroy this student account", @student_account, method: :delete %>
</div>
